@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    /* background:#141414; */
}
/* shared styles */
.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
    display: flex;
}
body{
    background:#141414;
}
/* nav styles */
.navigation{
    margin: 0 auto;
    margin-top: 58.5px;
    max-width: 1060px;
    height: 46px;
    /* margin-left: 190px; */
}
.primary-button {
    border-radius: 46px;
    background: rgba(230, 83, 60, 1);
    font-family: Inter;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 8px 20px;
    border: none;
    color: white;
}
.navbar {

    /* padding: 60px 190px; */
    padding: 60px 0px;
    align-items: center;
    justify-content: space-between;
}
.navbar-title{
    color: rgba(230, 83, 60, 1);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 44px;
}
.nav-menus {
    align-items: center;
    font-family: Inter;
    gap: 47px;
    padding: 5px 20px 5px 5px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-menu {
    list-style: none;

}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
}
/* hero styles */
.hero{
    margin: 0px auto;
    margin-top: 96px;
    /* margin-bottom: 28px; */
    /* margin-top: 96px;
    margin-bottom: 28px;
    margin-left: 190px;
    margin-right: 140px; */
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}
.hero-title{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 78px;
    font-weight: 400;
    line-height: 94px;
    letter-spacing: 0%;
    text-align: left;
}
.hero-text-button{
    margin-right: 100px;
}
.hero-title-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    margin: 28px auto;
}
.btn-primary{
   justify-content: flex-start;
   margin-left: 0;
}
.btn-1{
    border-radius: 42px;
    background: rgba(230, 83, 60, 1);
    padding: 16px 40px 16px 40px;
}
.btn-2{
    background: black;
    border-radius: 42px;
    padding: 16px 30px 16px 30px;
    color: antiquewhite;
}
.hero-img>img{
    width: 349px;
    /* height: 580px; */
}
.img-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 12px; */
    /* padding: 10px 15px; */
    height: 100px;
    width: 200px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
#card1 {
    position: relative;
    top: -440px;
    right: -190px;
}
#card2 {
    position: relative;
    top: -300px;
    right: 100px;
}
.card-head{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 26px;
    font-weight: 600;
}
.card-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    /* text-align: center; */
}
/* habits styles */
.habit{
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 1044px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.section-title{
    color: rgba(255, 255, 255, 1);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 14px;
}
.section-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-bottom: 58px;
}
.img-title{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}
.img-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
    /* margin-right: 40px; */
}
.card{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* motivation styles */
.motivation-card{
    border-radius: 16px;
    margin: 0 auto;
    padding: 30px;
    max-width: 1044px;
    background-color:rgba(34, 34, 34, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 165px;
}
 .motivation-card img{
    border-radius: 16px;
     width: 380px;
     height: 330px;  
     object-position: 67% 30%;
     object-fit: none;
 }
.motivation-content{
    display: flex;
    flex-direction: column;
    max-width: 45%;
}
 .motivation-content .section-title{
    font-size: 3.5rem;
    text-align: left;
}
.motivation-content .section-description{
    margin-bottom: 32px;
    text-align: left;
 }
 /* Bmi styles */
 .bmi-calculator{
    background: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    max-width: 1044px;
    margin-top: 63px;
 }
 .bmi-content>.section-title{
    text-align: center;
 }
 .calculator>.section-title{
    font-size: 28px;
 }
.table-wrap{overflow:auto}
.bmi__table{
  width:100%;
  border-collapse:separate;
  border-spacing:0;
  min-width:420px;
  font-family: Inter;
  font-size:15px;
}
.bmi__table thead th{
  text-align:left;
  padding:12px 14px;
  color:white;
  background:rgba(255,255,255,0.04);
  border-bottom:1px solid var(--stroke);
  position:sticky; top:0;
}
.bmi__table tbody td{
  padding:12px 14px;
  color: rgba(255, 255, 255, 0.5);
  border-bottom:1px solid var(--stroke);
}
/* .bmi__table tr:last-child td{border-bottom:none} */

 /* team styles */
 .my-team{
    margin-top: 88px;
    margin-bottom: 88px;
 }
 .team-content{
    margin-bottom: 58px;
 }
.team-member{
    max-width: 1044px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.member{
    margin-bottom: 26px;
}
.member img{
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2);
    /* margin-bottom: 30px; */
}
.member-name{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.member-title{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
}
.member-card{
    margin-top: -60px;
    margin-left: 20px;
}
/* footer styles */
footer{
    background: rgba(255, 255, 255, 0.1);
}
.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1044px;
    margin: 0px auto;
}
/* .footer{
    margin-top: 66px;
} */
.footer-title{
    color: rgba(230, 83, 60, 1);
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
    line-height: 85px;
    letter-spacing: 0%;
    text-align: left;
    margin-right: 102px;
    margin-bottom: 20px;
}
.footer-content>.section-description{
    text-align: left;
    /* margin-right: 102px; */
}
.footer-info, .footer-content{
    margin-top: 66px;
}
.footer-info{
    margin-left: 102px;
}
.footer-main-tag{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 39px;
}
.footer-tag{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}
.copyright{
    margin-top: 80px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    text-align: center;
    padding: 50px 0px 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
/* responsive styles */
@media screen and (max-width: 576px ){
    .navbar li{
        display: none;
    }
    .hero, .card-container, .motivation-card, .team-member, .footer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* margin: 0 auto; */
    }
    .hero-img{
        margin-left: 30px;
    }
    .habit{
        width: 250px;
    }
    .section-title, .section-description{
        text-align: center;
    }
    /* .motivation{
        width: 100%;
        text-align: left;
    } */
    /* .motivation-img>img{
        margin: 0;
    width: 330px;
    height: 400px;
    } */
    .motivation-sec>.section-title{
        margin-left: 0;
    }
    .motivation-sec>.section-description{
        margin-left: 0;
    }
    .team-member{
        margin-left: 10px;
    }
}